examples/01 encode basics.json
[
    {
        "id": "encode-basics-comment",
        "type": "comment",
        "name": "Encode a JavaScript object into protobuf bytes",
        "info": "The encode node verifies `msg.payload` against the configured protobuf message type (`TestType`) and outputs the binary wire bytes as a Buffer.\n\nClick the inject button and open the debug sidebar: `msg.payload` is now a Buffer and `msg.protobufType` names the message type that was used.\n\nTip: setting `msg.protobufType` on an incoming message overrides the type configured in the node.\n\nThe protobuf-file config node points at:\n\n    node_modules/node-red-contrib-protobuf/examples/protos/proto3.proto\n\nThis relative path works when Node-RED runs from your user directory (for example `~/.node-red`). If the proto file fails to load, open the protobuf-file config node and enter the absolute path on your machine.",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "encode-basics-inject",
        "type": "inject",
        "name": "send TestType payload",
        "props": [
            { "p": "payload", "v": "{\"timestamp\":1533295590569,\"foo\":1.5,\"bar\":true,\"test\":\"Hello from the encode example\",\"noMoreSnakeCase\":true}", "vt": "json" },
            { "p": "topic", "v": "", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 140,
        "wires": [["encode-basics-encode"]]
    },
    {
        "id": "encode-basics-encode",
        "type": "encode",
        "name": "",
        "protofile": "encode-basics-protofile",
        "protoType": "TestType",
        "x": 430,
        "y": 140,
        "wires": [["encode-basics-debug"]]
    },
    {
        "id": "encode-basics-debug",
        "type": "debug",
        "name": "encoded message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "encode-basics-protofile",
        "type": "protobuf-file",
        "protopath": "node_modules/node-red-contrib-protobuf/examples/protos/proto3.proto",
        "watchFile": false,
        "keepCase": false
    }
]
