examples/02 decode basics.json
[
    {
        "id": "decode-basics-comment",
        "type": "comment",
        "name": "Decode protobuf bytes into a JavaScript object",
        "info": "The function node supplies a hard-coded protobuf message in hex form - this is exactly what protobuf wire bytes look like. They were produced by the encode node (any protobuf library produces the same bytes) from this payload:\n\n    {\"timestamp\":1533295590569,\"foo\":1.5,\"bar\":true,\"test\":\"Hello from the decode example\",\"noMoreSnakeCase\":true}\n\nClick the inject button: the decode node turns the Buffer back into that JavaScript object using the `TestType` message from the proto file.\n\nTip: setting `msg.protobufType` on an incoming message overrides the type configured in the node.\n\nThe protobuf-file config node points at:\n\n    node_modules/@pauldeng/node-red-contrib-protobuf/examples/protos/proto3.proto\n\nThis relative path works when Node-RED runs from your user directory (for example `~/.node-red`). If the proto file fails to load, open the protobuf-file config node and enter the absolute path on your machine.",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "decode-basics-inject",
        "type": "inject",
        "name": "trigger",
        "props": [
            { "p": "payload", "v": "", "vt": "date" },
            { "p": "topic", "v": "", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [["decode-basics-bytes"]]
    },
    {
        "id": "decode-basics-bytes",
        "type": "function",
        "name": "protobuf wire bytes (hex)",
        "func": "// A TestType message in protobuf wire format, produced by the encode node.\nmsg.payload = Buffer.from('090090ca9ff84f7642150000c03f1801221d48656c6c6f2066726f6d20746865206465636f6465206578616d706c652801', 'hex');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [["decode-basics-decode"]]
    },
    {
        "id": "decode-basics-decode",
        "type": "decode",
        "name": "",
        "protofile": "decode-basics-protofile",
        "protoType": "TestType",
        "x": 580,
        "y": 140,
        "wires": [["decode-basics-debug"]]
    },
    {
        "id": "decode-basics-debug",
        "type": "debug",
        "name": "decoded object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "decode-basics-protofile",
        "type": "protobuf-file",
        "protopath": "node_modules/@pauldeng/node-red-contrib-protobuf/examples/protos/proto3.proto",
        "watchFile": false,
        "keepCase": false
    }
]
