examples/04 proto3 round trip.json
[
    {
        "id": "proto3-trip-comment",
        "type": "comment",
        "name": "proto3: implicit presence and camelCase names",
        "info": "This flow encodes and decodes a `TestType` message defined with `syntax = \"proto3\"`.\n\nproto3 features shown in `examples/protos/proto3.proto`:\n\n- The field `no_more_snake_case` appears as `noMoreSnakeCase` in JavaScript objects because protobuf.js converts snake_case to camelCase by default. Enable \"Keep case\" on the protobuf-file config node to keep snake_case names.\n\n> [!WARNING]\n> **false vs not set:** plain proto3 scalar fields have *implicit presence*. A value equal to the default (`false`, `0`, `\"\"`) is never transmitted and is **missing after decode**. Try it - change `noMoreSnakeCase` to `false` in the inject node and the decoded object will not contain the field at all. \"Set to false\" and \"never set\" produce identical bytes.\n>\n> When your flow must tell them apart, declare the field `optional` in the schema (`optional bool no_more_snake_case = 5;`) or use a proto2 or Editions schema - those keep explicitly set values. See https://protobuf.dev/programming-guides/field_presence/\n\nThe protobuf-file config node points at:\n\n    node_modules/node-red-contrib-protobuf/examples/protos/proto3.proto\n\nThis relative path works when Node-RED runs from your user directory (for example `~/.node-red`). If the proto file fails to load, open the protobuf-file config node and enter the absolute path on your machine.",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "proto3-trip-inject",
        "type": "inject",
        "name": "send TestType payload",
        "props": [
            { "p": "payload", "v": "{\"timestamp\":1533295590569,\"foo\":1.5,\"bar\":true,\"test\":\"Hello from the proto3 example\",\"noMoreSnakeCase\":true}", "vt": "json" },
            { "p": "topic", "v": "", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 140,
        "wires": [["proto3-trip-encode"]]
    },
    {
        "id": "proto3-trip-encode",
        "type": "encode",
        "name": "",
        "protofile": "proto3-trip-protofile",
        "protoType": "TestType",
        "x": 430,
        "y": 140,
        "wires": [["proto3-trip-decode"]]
    },
    {
        "id": "proto3-trip-decode",
        "type": "decode",
        "name": "",
        "protofile": "proto3-trip-protofile",
        "protoType": "TestType",
        "x": 620,
        "y": 140,
        "wires": [["proto3-trip-debug"]]
    },
    {
        "id": "proto3-trip-debug",
        "type": "debug",
        "name": "decoded object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "proto3-trip-protofile",
        "type": "protobuf-file",
        "protopath": "node_modules/node-red-contrib-protobuf/examples/protos/proto3.proto",
        "watchFile": false,
        "keepCase": false
    }
]
